rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // すべてのパスへの読み書きを許可する（開発・テスト用）
    match /{document=**} {
      allow read, write: if true;
    }
  }
}